Act 2/BDCine.dtd

<!ELEMENT cine (pelicula+)>
<!ELEMENT pelicula (codigo, nombre, director, fechaEstreno, personajes, salas, compañiaCinematografica)>

<!ELEMENT codigo (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT director (#PCDATA)>
<!ELEMENT fechaEstreno (#PCDATA)>
<!ELEMENT personajes (#PCDATA)>
<!ELEMENT salas (#PCDATA)>
<!ELEMENT compañiaCinematografica (#PCDATA)>
