Act 7/Mejora/universidad.dtd

<!ELEMENT universidad (facultad+)>
<!ELEMENT facultad (nombre, estudiantes)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT estudiantes (estudiante+)>
<!ELEMENT estudiante (matricula, nombre, edad?, promedio?)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT edad (#PCDATA)>
<!ELEMENT promedio (#PCDATA)>
